// Specific CSS for your home-page
.split-screen {
  display: flex;
  // height: 100vh; /* Full screen height */
}
.icon-container i {
    float: right;
    justify-content: right;
}

.left-side,
.right-side {
  flex: 1; /* Equal width */
  padding: 20px;
  box-sizing: border-box;
}

.left-side {
  padding-right: 80px;
  margin-top: 80px;
}

.right-side img {
  width: 40vw; /* 40% of viewport width */
  height: auto;
}

#how {
  padding-top: 24px;
  margin-top: 40px; // or even 40px depending on your spacing needs
}

#results {
  padding-top: 24px;
  margin-top: 20px; // or even 40px depending on your spacing needs
}

// card

.features-card {
  overflow: hidden;
  background: white;
  border-radius: 20px;
  border: 3px solid black;
  padding: 2rem;
  max-width: 100%;
  box-shadow: 10px 10px 0px 0px $purple;
}

.features-card p {
  font-size: 16px;
}


// fonts

body {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}

h1 {
  font-size: 52px;
}

h3 {
  font-size: 20px;
}
