// Finished lessons card
.card-lesson {
  overflow: hidden;
  background: white;
  border-radius: 20px;
  border: 2px solid black;
  max-width: 300px;
  max-height: 300px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 8px 8px 0 #c2c2c2;
}

.card-lesson > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-lesson h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-lesson a {
  text-decoration: none;
  color: black;
}

.card-lesson p {
  font-size: 12px;
  opacity: .7;
  font-family: "Space Mono", "Courier New", monospace;
}

.card-lesson-info {
  padding: 16px 16px 0px 16px;
  flex-grow: 1; // helps it take remaining space
}


// Next lesson card

.card-next-lesson {
  overflow: hidden;
  height: 200px;
  background: white;
  border-radius: 20px;
  border: 3px solid black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow: 8px 8px 0 #c2c2c2;
}

.card-next-lesson-info {
  padding: 16px;
}

.card-next-lesson img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.card-next-lesson h2 {
  padding-top: 16px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-next-lesson p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 16px;
  margin-top: 8px;
  font-family: "Space Mono", "Courier New", monospace;
}

.card-next-lesson a {
  margin-bottom: 50px !important;
}

.card-next-lesson .card-next-lesson-info {
  padding: 16px;
  padding-left: 32px;
}

// Level card

// Finished lessons card
.card-level {
  overflow: hidden;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
  max-width: 300px;
  max-height: 300px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-level > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-level h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
}

.card-level a {
  text-decoration: none;
  color: black;
}

#card-one {
box-shadow: 8px 8px 0px 0px $purple;
}

#card-two {
box-shadow: 8px 8px 0px 0px $green;
}

#card-three {
box-shadow: 8px 8px 0px 0px $yellow;
}
