/* Split the screen in half */

.split {
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  /* overflow-x: auto; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Control the left side */
.left {
  left: 0;
  height: 100vh;
}

/* Control the right side */
.right {
  right: 0;
  height: 100vh;
}

.top .right {
  padding-bottom: 40px;
  min-height: 40%;
  font-family: monospace;
}

/* .top .right .body {
  font-family: 'Courier New', Courier, monospace;
} */

.left .top {
  height: 100%;
  min-height: 80%;
}

/* .bottom {
  min-height: 50%;
} */

.right .bottom {
  padding: 20px;
  margin-top: 30px;
  border-spacing: 16px;
  box-shadow: 3px 3px 0px 3px #3cb472;
  border-radius: 16px;
  border: 2px solid black;
  min-height: 300px;
}

.fa-solid {
  font-size: 40px;
}

.butter {
  margin-top: 10px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.button-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.concept-button {
  border: none;
}

form.edit_user_lesson {
  height: 100%;
}
